.popup__form {
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  width: 480px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .popup__form {
    width: 90%;
  }
}
