.popup__close-icon {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -30px;
  right: -30px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../images/Close-Icon.svg');
  background-size: contain;
}
.popup__close-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 560px) {
  .popup__close-icon {
    top: -35px;
    right: 20px;
  }
}
